body {
    background-color: rgb(240, 188, 100);
}


.container {
    display: inline-flex;
    min-width: 20%;
    height: fit-content;
    min-height: 15%;
    max-width:28%;
    padding: 1%;
    border:2px black solid;
    background-color: rgb(228, 211, 211);
    margin: 1%;
}



.formulario {
    display:flex;
    border: 2px black solid;
    background-color: rgb(235, 151, 55);
    width:95.7%;
    min-height: 30%;
    padding: 0.3%;
    margin-left: 1%;
}
.formulario textarea {
    width: 640px;
    height: 159px;
    margin: 2%;
}


@media (max-width:745px){
    .container{
        display: block;
        max-width: fit-content;
        max-height: fit-content;
        margin:3%;
    }
    .formulario {
    display:block;
    border: 2px black solid;
    background-color: rgb(235, 151, 55);
    width:92%;
    margin-left: 3%;
    }
    .formulario textarea {
    width: 91%;
    height: 159px;
    margin: 2%;
}
}