body {
    background-color: rgb(240, 188, 100);
}

.container {
    
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 20%;
    height: fit-content;
    min-height: 15%;
    max-width: 27%;
    padding: 1%;
    border:2px black solid;
    background-color: rgb(228, 211, 211);
    margin: 1%;
    
}

.formulario {
    display:flex;
    border: 2px black solid;
    background-color: rgb(235, 151, 55);
    max-width: 25%;
    min-height: 30%;
    padding: 2%;

    
}